root = true

[*.java]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
ij_java_block_brace_style = next_line
ij_java_class_brace_style = next_line
ij_java_method_brace_style = next_line
ij_java_lambda_brace_style = next_line
ij_java_else_on_new_line = true
ij_java_while_on_new_line = true
ij_java_catch_on_new_line = true
ij_java_finally_on_new_line = true
